{{!-- {{#each }} --}}
<li class='country-list__item'>
  <img src='{{flags.svg}}' alt='{{name}}' class='country-list__item--icon' />
  <h2 class='country-list__item--title'>{{name.official}}</h2>
</li>